{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <h1 class="text-center">Cursos</h1>
    <h2 class="">Agregar Curso</h2>


    <div class=" col-6 my-5 ">

        {{saludo}}
        {{casa}}
        <form action="/crear" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label ">Name:</label>
                <input type="text" class="form-control" placeholder="Nombre Libro" name="name"
                    value="{{request.session.curso_name}}" >
                <label for="disabledTextInput" class="form-label ">Description</label>
                <textarea class="form-control" rows="5" name="description"
                    placeholder="Agregar Descripcion">{{request.session.curso_description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

    </div>
    {% endblock %}